.text-center.polls
  %legend.col-xs-12.col-sm-10.col-md-9.col-lg-9
    %h2
      = 'Result: '
.polls-list.col-xs-12.col-sm-10.col-md-9.col-lg-9
  %blockquote{ id: "poll-#{@poll.id}" }
    .header
      = @poll.title
      %br
      %br
    .votes-progress
      - @poll.options.order_votes.each do |option|
        .progress.col-xs-10.col-sm-10.col-md-10.col-lg-10{ title: option.title }
          .progress-bar{ role: :progressbar, style: "width: #{votes_in_percents(@poll, option.votes)}%;"}
            &nbsp;&nbsp;
            = option.title
        .votes.col-xs-1.col-sm-1.col-md-1.col-lg-1
          = option.votes